@import 'scss-reset/_reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@font-face {
    font-family: "BlackOps";
    src: url("./fonts/BlackOpsOne-Regular.ttf");
}

.App {
    font-family: 'Inria Sans', sans-serif;
    min-height: 100vh;
}

.App-light {
    background-color: #fff;
    color: #000;
}

.App-dark {
    background-color: #000;
    color: #fff;
}

//Header
//---------------------------------------------------------------
.header {
    position: sticky;
    top: 0;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    .logo {
        a {
            font-family: "BlackOps";
            font-size: 35px;
            text-decoration: none;
            color: #fff;
            span {
                color: purple;
            }
        }
    }
    .search {
        flex-grow: 2;
        padding: 0 10px;
        position: relative;
        &-input {
            width: 100%;
            height: 40px;
            padding: 0 10px;
            border-radius: 10px;
            background-color: darkgray;
            border: none;
        }
        .sort-btn {
            position: absolute;
            right: 20px;
            top: 3px;
            font-size: 20px;
        }
    }
    .user {
        display: flex;
        align-items: center;
        color: #fff;
        .user-avatar {
            margin-right: 5px;
            padding: 10px 12px;
            background-color: purple;
            border-radius: 5px;
        }
    }
    .burger-user {
        position: absolute;
        width: 100%;
        text-align: center;
        margin-top: 5px;
        .burger-cell {
            padding: 10px 0;
            background-color: darkgray;
            a {
                color: #fff;
                text-decoration: none;
            }
        }
    }
}

.header-light {
    background-color: #fff;
    .logo {
        a {
            color: #000;
        }
    }
    .user {
        color: #000;
        .user-avatar {
            background-color: purple;
        }
    }
}

.header-dark {
    background-color: #000;
}

@media (max-width: 600px) {
    .username {
        display: none;
    }
}

//------------------------------------------------------

//Navigation
//------------------------------------------------------
.navigation {
    width: 200px;
    height: calc(100% - 104px);
    &-cell {
        padding: 10px 10px 10px 30px;
        a {
            width: 100%;
            font-size: 20px;
            display: flex;
            color: darkgrey;
            align-items: center;
            text-decoration: none;
            span {
                margin-left: 5px;
            }
        }
        a:hover {
            color: purple;
        }
    }
}

.navigation-light {
    .navigation-cell {
        a {
            color: #000;
        }
    }
}

//--------------------------------------------------------
//Main content

.main-content {
    display: flex;
}

//--------------------------------------------------------
//Movies

.movies {
    .movies-page {
        display: flex;
        flex-wrap: wrap;
        padding: 0 20px 20px 20px;
        justify-content: center;
        a {
            text-decoration: none;
            color: #fff;
        }
        .movie {
            max-height: 350px;
            width: 190px;
            margin: 10px;
            padding: 10px;
            border-radius: 15px;
            &-poster {
                position: relative;
                height: 252px;
                width: 170px;
                overflow: hidden;
                img {
                    border-radius: 15px;
                }
                .movie-rating {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    padding: 2px 5px;
                    border-radius: 5px;
                }
                .movie-rating-bad {
                    background-color: red;
                }
                .movie-rating-average {
                    background-color: orange;
                }
                .movie-rating-good {
                    background-color: green;
                }
            }
            &-title {
                font-size: 13px;
                margin-top: 10px;
            }
            &-genre {
                display: flex;
                flex-wrap: wrap;
                font-size: 10px;
                margin-top: 5px;
                color: darkgray;
                &-bulletpoint {
                    vertical-align: middle;
                    margin: 0 5px;
                }
            }
        }
        .movie:hover {
            box-shadow: 0 0 10px 1px darkgray;
        }
    }
    .movies-footer {
        display: flex;
        justify-content: center;
        padding: 20px;
        .pagination {
            margin: 0;
            .page-item {
                .page-link {
                    background-color: darkgray;
                    border: darkgray;
                    color: #800080;
                } 
            }
            .active {
                .page-link {
                    background-color: #800080;
                    color: darkgray;
                }
            }
            .disabled {
                .page-link {
                    color: gray;
                }
            }
        }
    }
}

.movies-light {
    .movie {
        color: #000;
    }
}

//----------------------------------------------------
//Searched Movie

.search-result {
    position: absolute;
    background-color: darkgray;
    width: calc(100% - 20px);
    max-height: 240px;
    overflow: scroll;
    .searched-movie {
        display: flex;
        padding: 10px;
        height: 120px;
        border-bottom: 1px solid lightgray;
        .poster-wrapper {
            width: 70px;
            overflow: hidden;
            img {
                width: 100%;
                object-fit: cover;
            }
        }
        .searched-movie-info {
            font-size: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 10px;
        }
    }
}

.sign-page {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    form {
        width: 30%;
        button {
            background-color: #800080;
        }
        button:hover {
            background-color: darkgray;
        }
    }

}

.selected-post {
    * {
        box-sizing: border-box;
        margin: 0;
        margin-bottom: 10px;
        padding: 0;
    }
    display: flex;
    padding: 20px;
    .img-wrapper {
        margin-right: 20px;
        img {
            border-radius: 5px;
        }
    }
    .genres {
        color: darkgrey;
    }
    .rating {
        padding: 5px;
        border-radius: 5px;
    }
    .good {
        background-color: green;
    }
    .ok {
        background-color: orange;
    }
    .bad {
        background-color: red;
    }
}

.settings {
    padding: 10px 30px;
    width: 100%;
    &-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 30px;
        box-shadow: 0 0 10px 1px darkgray;
        border-radius: 10px;
        &-text {
            margin: 0;
        }
        button {
            color: #fff;
            .css-1yjjitx-MuiSwitch-track {
                background-color: darkgrey;
                opacity: 1;
            }
            .css-jsexje-MuiSwitch-thumb {
                background-color: #800080;
            }
            .css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track {
                background-color: #800080;
            }
        }
    }
}

@media (max-width: 1000px) {
    .sign-page {
        form {
            width: 80%;
        }
    }
}

// @media (prefers-color-scheme: dark) {
   
// }

// @media (prefers-color-scheme: light) {
   
// }